<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Daftar Booking</h3>
            </div>
            <div class="title_right">
                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#tambahBooking">+ Tambah Booking</button>
            </div>
        </div>
    </div>


        <div class="clearfix"></div>
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Cari booking..." ng-model="query">
              <span class="input-group-btn">
                <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>
    <div class="x_content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><a ng-click="order('tanggal_pesan')">Tanggal Pesan</a><span class="sortorder" ng-show="predicate === 'tanggal_pesan'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('tanggal_pakai')">Tanggal Pakai</a><span class="sortorder" ng-show="predicate === 'tanggal_pakai'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('pemakai')">Pemakai</a><span class="sortorder" ng-show="predicate === 'pemakai'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('jenis')">Jenis</a><span class="sortorder" ng-show="predicate === 'jenis'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('nama')">Nama</a><span class="sortorder" ng-show="predicate === 'nama'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('jumlah')">Jumlah</a><span class="sortorder" ng-show="predicate === 'jumlah'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('satuan')">Satuan</a><span class="sortorder" ng-show="predicate === 'satuan'" ng-class="{reverse:reverse}"></th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in booking | filter:query | orderBy:predicate:reverse">
                    <td>{{x.tanggal_pesan}}</td>
                    <td>{{x.tanggal_pakai}}</td>
                    <td>{{x.pemakai}}</td>
                    <td>{{x.jenis}}</td>
                    <td>{{x.nama}}</td>
                    <td>{{x.jumlah}}</td>
                    <td>{{x.satuan}}</td>
                    <td><a href="#booking" data-toggle="modal" data-target="#editBooking" ng-click="initEditBooking(x.id)"><i class="fa fa-edit aksi" data-toggle="tooltip" title="Ubah data"></i></a> | <a href="#booking" ng-click="deleteBooking(x.id)"><i data-toggle="tooltip" title="Hapus booking" class="fa fa-trash aksi"></i></a></td>
                </tr>
            </tbody>
        </table>

    </div>
  </div>
</div>
</div>
<!-- Modal Tambah Booking -->
    <div class="modal fade" id="tambahBooking" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Tambah Booking Baru</h4>
          </div>
          <div class="modal-body">
            <form role="form" name="newBookingForm">
              <div class="form-group">
                <label for="nim-nip">NIM/NIP</label>
                <input type="text" class="form-control" id="id-pemakai" ng-model="newbooking.pemakai" required>
              </div>
              <div class="form-group">
                <label for="jenis-barang">Jenis Barang</label>
                <select id="jenis-barang" class="form-control" ng-options="barang.jenis as barang.jenis for barang in jenisbarang" ng-model="newbooking.jenis" ng-change="jenisChanged()" required>
                </select>
              </div>
              <div class="form-group">
                <label for="nama-barang">Nama Barang</label>
                <select id="nama-barang" class="form-control" ng-options="barang.nama as barang.nama for barang in namabarang" ng-model="newbooking.nama" required>
                </select>
              </div>
              <div class="form-group">
                <label for="jumlah-barang">Jumlah</label>
                <input type="number" min="0" class="form-control" id="jumlah-barang" ng-model="newbooking.jumlah" required>
              </div>
              <div class="form-group">
                <label>Tanggal Pakai</label>
                <input id="tanggal_pakai_picker" class="date-picker form-control" required="required" type="text" ng-model="newbooking.tanggal_pakai">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" style="margin-bottom: 0"><span class="glyphicon glyphicon-remove"></span> Batal</button>
            <button type="submit" class="btn btn-default btn-success" data-dismiss="modal" ng-disabled="newBookingForm.$invalid" ng-click="createBooking(newbooking)"><span class="glyphicon glyphicon-ok"></span> Tambah</button>
          </div>
        </form>
          </div>
        </div>
      </div>
    </div>

  <!-- Modal Edit Booking -->
  <div class="modal fade" id="editBooking" role="dialog">
  <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4>Ubah Data Booking</h4>
        </div>
        <div class="modal-body">
            <form role="form" name="editBookingForm">
              <div class="form-group">
                <label for="nim-nip">NIM/NIP</label>
                <input type="text" class="form-control" ng-model="editbooking.pemakai" required>
              </div>
              <div class="form-group">
                <label for="jenis-barang">Jenis Barang</label>
                <select class="form-control" ng-options="barang.jenis as barang.jenis for barang in jenisbarang" ng-model="editbooking.jenis" ng-change="jenisChangedEdit()">
                </select>
              </div>
              <div class="form-group">
                <label for="nama-barang">Nama Barang</label>
                <select class="form-control" ng-options="barang.nama as barang.nama for barang in namabarang_edit" ng-model="editbooking.nama">
                </select>
              </div>
              <div class="form-group">
                <label for="jumlah-barang">Jumlah</label>
                <input type="number" min="0" class="form-control" id="jumlah-barang" ng-model="editbooking.jumlah" required>
              </div>
          </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" style="margin-bottom: 0"><span class="glyphicon glyphicon-remove"></span> Batal</button>
          <button type="submit" class="btn btn-default btn-success" data-dismiss="modal" ng-disabled="editBookingForm.$invalid" ng-click="editBooking()"><span class="glyphicon glyphicon-ok"></span> Ubah</button>
        </div>
      </form>
        </div>
      </div>
    </div>

</div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#tanggal_pakai_picker').daterangepicker({
            singleDatePicker: true,
            calender_style: "picker_4"
        }, function (start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
        });
    });
</script>
