<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Daftar Pengadaan</h3>
            </div>
            <div class="title_right">
                <button class="btn btn-default pull-right" data-toggle="modal" data-target="#tambahPengadaan">+ Tambah Pengadaan</button>
            </div>
        </div>
    </div>


        <div class="clearfix"></div>
        <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="top_search">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Cari pengadaan..." ng-model="query">
              <span class="input-group-btn">
                <button class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
              </span>
            </div>
          </div>

    <div class="x_content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><a ng-click="order('tanggal_pesan')">Tanggal Pesan</a><span class="sortorder" ng-show="predicate === 'tanggal_pesan'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('tanggal_datang')">Tanggal Datang</a><span class="sortorder" ng-show="predicate === 'tanggal_datang'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('penyuplai')">Penyuplai</a><span class="sortorder" ng-show="predicate === 'penyuplai'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('jenis')">Jenis</a><span class="sortorder" ng-show="predicate === 'jenis'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('nama')">Nama</a><span class="sortorder" ng-show="predicate === 'nama'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('jumlah')">Jumlah</a><span class="sortorder" ng-show="predicate === 'jumlah'" ng-class="{reverse:reverse}"></th>
                    <th><a ng-click="order('satuan')">Satuan</a><span class="sortorder" ng-show="predicate === 'satuan'" ng-class="{reverse:reverse}"></th>
                    <th>Aksi</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="x in pengadaan | filter:query | orderBy:predicate:reverse">
                    <td>{{x.tanggal_pesan}}</td>
                    <td>{{x.tanggal_datang}}</td>
                    <td>{{x.nama_penyuplai}}</td>
                    <td>{{x.jenis}}</td>
                    <td>{{x.nama}}</td>
                    <td>{{x.jumlah}}</td>
                    <td>{{x.satuan}}</td>
                    <td><a href="#pengadaan" data-toggle="modal" data-target="#editPengadaan" ng-click="initEditPengadaan(x.id)"><i class="fa fa-edit aksi" data-toggle="tooltip" title="Ubah data"></i></a> | <a href="#pengadaan" ng-click="deletePengadaan(x.id)"><i data-toggle="tooltip" title="Hapus pengadaan" class="fa fa-trash aksi"></i></a></td>
                </tr>
            </tbody>
        </table>

    </div>
  </div>
</div>
</div>
<!-- Modal Tambah Pengadaan -->
    <div class="modal fade" id="tambahPengadaan" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4>Tambah Pengadaan Baru</h4>
          </div>
          <div class="modal-body">
            <form role="form" name="newPengadaanForm">
              <div class="form-group">
                <label for="nama-penyuplai">Nama Penyuplai</label>
                <input type="text" class="form-control" id="mana-penyuplai" ng-model="newpengadaan.nama_penyuplai" required>
              </div>
              <div class="form-group">
                <label for="jenis-barang">Jenis Barang</label>
                <select id="jenis-barang" class="form-control" ng-options="barang.jenis as barang.jenis for barang in jenisbarang" ng-model="newpengadaan.jenis" ng-change="jenisChanged()">
                </select>
                <!--<input type="text" class="form-control" id="jenis-barang" ng-model="newpemakaian.jenis" required>-->
              </div>
              <div class="form-group">
                <label for="nama-barang">Nama Barang</label>
                <select id="nama-barang" class="form-control" ng-options="barang.nama as barang.nama for barang in namabarang" ng-model="newpengadaan.nama">
                </select>
                <!--<input type="text" class="form-control" id="nama-barang" ng-model="newpemakaian.nama" required>-->
              </div>
              <div class="form-group">
                <label for="jumlah-barang">Jumlah</label>
                <input type="number" min="0" class="form-control" id="jumlah-barang" ng-model="newpengadaan.jumlah" required>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-danger" data-dismiss="modal" style="margin-bottom: 0"><span class="glyphicon glyphicon-remove"></span> Batal</button>
            <button type="submit" class="btn btn-default btn-success" data-dismiss="modal" ng-disabled="newPengadaanForm.$invalid" ng-click="createPengadaan(newpengadaan)"><span class="glyphicon glyphicon-ok"></span> Tambah</button>
          </div>
        </form>
          </div>
        </div>
      </div>
    </div>

</div>
</div>
