<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Statistik ATK per Periode</h3>
      </div>
    </div>
  </div>

  <div class="clearfix">
  </div>
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">

        <div class="x_content">
          <div class="form-group">
            <div class="col-md-5">
              <label for="jenis-pemakai">Jenis Pemakai</label>
              <select id="jenis-pemakai" class="form-control" ng-options="pemakai.jenis as pemakai.jenis for pemakai in jenispemakai" ng-model="selectedjenis" ng-change="pemakaiChanged()">
              </select>
            </div>
            <div class="col-md-5">
              <label for="nama-pemakai">Nama Pemakai</label>
              <select id="nama-pemakai" class="form-control" ng-options="pemakai.nama as pemakai.nama for pemakai in namapemakai" ng-model="selectedpemakai" ng-change="pemakaiChanged()">
              </select>
            </div>
          </div>
          <label ng-model="pesankesalahan"></label>
          <br><br>
            <div id="container" style="width:100%; height:400px;" config="highchartsNG"></div>

        </div>
      </div>
    </div>
  </div>
  </div>
</div>
